.headerBar {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header{
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft{
  display: flex;
  align-items: center;
}

.headerRight{
  display: flex;
  align-items: center;
}

.avatarImg{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

@media (min-width:768px) {
    .headerBar {
    background-color: white;
    
    }
    .header{
    height: 60px;
    }

    .avatarImg{
        border-radius: 50%;
        height: 48px;
        width: 48px;
        margin: 0 30px;
    }

    .pushPage{
    margin-left: 20px;
    }

    .bell{
    margin: 0 20px;
    }


    .logo {
    font-size: 57px;
    font-weight: bold;
    color: #0066b2;
    }

}